<form class="layui-form seller-alone-form" action="" method="post">

    <input type="hidden" name="id" value="{$data.id}">

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>分类名称：</label>
        <div class="layui-input-inline seller-inline-5">
            <input type="text" name="name" value="{$data.name}" required  lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline seller-inline-2">
            <input type="text" name="sort" value="{$data.sort}" required  lay-verify="required" placeholder="从小到大排列" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            {:jshopToken()}
            <button type="button" class="layui-btn" lay-submit lay-filter="edit_leilast">保存</button>
            <button onclick="javascript:history.back(-1)" type="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(edit_leilast)', function(data){
            JsPost("{:url('Leilast/edit')}", data.field, function(res){
                if(res.status){
                    layer.msg(res.msg, {time:1300},function(){
                        window.location.href = "{:url('Leilast/index')}";
                    });
                }else{
                    layer.msg(res.msg);
                }
            })
        });
    });
</script>

<!--<script>-->
<!--    layui.use('form', function(){-->
<!--        layui.form.render();-->
<!--    });-->
<!--</script>-->
