<div style="padding: 30px;" class="layui-form seller-alone-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>学号：</label>
        <div class="layui-input-inline seller-inline-5">
            <input type="text" name="student_id" required lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>性别：</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="1" title="男" checked="">
            <input type="radio" name="sex" value="2" title="女">
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label"><i class="required-color">*</i>手机号：</label>
        <div class="layui-input-inline">
            <input type="text" name="mobile" required lay-verify="required|phone" placeholder="请输入手机号"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>身份证：</label>
        <div class="layui-input-inline seller-inline-5">
            <input type="text" name="id_card" required lay-verify="identity" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>邮箱：</label>
        <div class="layui-input-inline seller-inline-5">
            <input type="text" name="email" lay-verify="email" required placeholder="请输入邮箱" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            {:jshopToken()}
            <button type="button" class="layui-btn" lay-submit lay-filter="add">保存</button>
            <button onclick="javascript:history.back(-1);" type="reset" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</div>

<script>
    layui.use(['form','table'], function(){
        var $ = layui.$,form = layui.form,table = layui.table;
        //监听提交
        form.render();
        //表单提交页面
        form.on('submit(add)', function(data){
            JsPost("{:url('Student/add')}", data.field, function(res){
                if(res.status){
                    layer.msg(res.msg, {time:1300},function(){
                        window.location.href = "{:url('Student/index')}";
                    });
                }else{
                    layer.msg(res.msg);
                }
            })
        });

    });

</script>
